* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(158, 152, 152);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8vh;
  margin-bottom: 5vh;
}

form input {
  width: min(90vw, 800px);
  height: 5vh;
  font-size: 4vh;
  background-color: whitesmoke;
}

form button,
.back,
.changeUnit {
  font-size: 6vh;
  width: 40vw;
  background-color: whitesmoke;
  cursor: pointer;
}

table > * {
  font-size: 5vh;
}

.changeUnit {
  width: 10vh;
  font-size: 3vh;
  margin-bottom: 3vh;
}

.display {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: min(100%, 800px);
  font-size: 3vh;
  overflow: auto;
}

.display > div > * {
  display: flex;
  justify-content: center;
}

.header, .footer {
  width: 100%;
  flex: 1;
}

.cards {
  flex: 5;
  width: 100%;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
}

.footer {
  max-height: 10vh;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.footer button {
  height: 100%;
  width: 25vw;
  font-size: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#date {
  border: none;
  outline: none;
}

.row3 > p {
  display: flex;
  margin-left: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  border: black 1px solid;
}

/* card rows*/
.card > * {
  display: flex;
  justify-content: space-between;
}

.card > * > * {
  width: 50%;
}

.card > *:first-child {
  display: flex;
  justify-content: center;
}

.cardRow1 {
  color: rgb(136, 20, 20);
  font-weight: bold;
}